html, body {
    margin:0;
    font-family:sans-serif;
}

.gui-button {
    padding:4px 7px;
    background:#ccc;
    border:none;
    border-radius:3px;
    user-select: none;
    display:flex;
    align-items:center;
}
.gui-button:hover {
    background:#aaa;
}
.gui-button:active {
    background:#888;
}

.gui-focusable:focus {
    outline:2px #666 solid;
}

.gui-label {
    user-select:none;
}

.gui-input {
    background:white;
    border:1px #aaa solid;
    border-radius:3px;
    padding:4px 7px;
}